body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.container {
    max-width: 400px;
    margin: 0 auto;
}

h1 {
    color: #333;
}

form input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

form button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}